.sendNewDatasetButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.sendNewDatasetButton:hover {
  background-color: #3b853f;
}
.sendNewDatasetButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
}